#Para trabajar con PostgreSQL local:
DATABASE_URL="postgresql://usuario:contraseña@localhost:5432/bibliomarket"
JWT_SECRET="mi-secreto-local"
PORT=3000
WEBHOOK_URL=""

# Para conectar ordenador con la base de Render:
DATABASE_URL="postgresql://..."
JWT_SECRET="mi-secreto-local"
PORT=3000
WEBHOOK_URL=""